body{
    background-color: rgb(110, 110, 110);
}

h1{
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(137, 0, 0));
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

